# SPLADE on MSMARCO v1 Passage Corpus using PyTerrier.

This notebook demonstrates the creation of a SPLADE index using PyTerrier.

## Installation

Installation is using PIP.

In [ ]:
%pip install -q git+https://github.com/naver/splade.git
%pip install -q git+https://github.com/cmacdonald/pyt_splade.git

## SPLADE setup

We create a factory object that gives us access to the appropriate transformers to use SPLADE.

In [1]:
import os
import pyterrier as pt
import pyt_splade
splade = pyt_splade.Splade()
doc_encoder = splade.doc_encoder()

## Indexing demonstration

Lets see what terms are generated by the SPLADE model during indexing.

In [2]:
df = doc_encoder([{'docno' : 'd1', 'text' : 'ww2'}])
df.iloc[0].toks

{'w': 199,
 '##2': 193,
 'war': 167,
 'wwii': 150,
 '##w': 130,
 'ii': 110,
 '2': 94,
 'germany': 86,
 'army': 76,
 'battle': 70,
 'was': 66,
 'bomb': 48,
 'event': 43,
 'wilson': 43,
 'conflict': 38,
 'marshall': 33,
 'allied': 23,
 'surrender': 22,
 'peace': 16,
 'military': 12,
 'era': 10,
 'alliance': 10,
 'weapon': 10,
 'wars': 8,
 'camp': 7,
 'were': 6,
 'france': 6,
 'invasion': 6,
 'nazi': 4,
 'zombie': 2,
 'patton': 2,
 'german': 1}

## Indexing MSMARCO

Lets go and create an index for the MSMARCO v1 passage corpus.

In [3]:
# this will provide access to the corpus
dataset = pt.get_dataset('irds:msmarco-passage')

This is the actual indexing code. We use the SPLADE model to transform the passages into tokens and weights.

Indexing the 8.8M passages of MSMARCO using a GeForce RTX 3090 took 5 hours.

In [4]:
if not os.path.exists('./msmarco_psg'): # skip if alraedy created
    indexer = pt.IterDictIndexer('./msmarco_psg', pretokenised=True)
    indexer.setProperty("termpipelines", "")
    indexer.setProperty("tokeniser", "WhitespaceTokeniser")
    
    indexer_pipe = doc_encoder >> indexer
    index_ref = indexer_pipe.index(dataset.get_corpus_iter())

## Retrieval

We can now conduct retrieval using PyTerrier.

In [5]:
retr = pt.terrier.Retriever('./msmarco_psg', wmodel='Tf', verbose=True)

retr_pipe = splade.query_encoder() >> retr

Java started (triggered by Retriever.__init__) and loaded: pyterrier.java, pyterrier.terrier.java [version=5.10 (build: craigm 2024-08-22 17:33), helper_version=0.0.8]

Let's check retrieval works, and we can see the generated query.

In [6]:
retr_pipe.search('chemical reactions')

TerrierRetr(Tf): 100%|██████████| 1/1 [00:00<00:00,  1.11q/s]

,qid,docid,docno,rank,score,query,query_toks
0,1,758284,758284,0,759.955493,chemical reactions,"{'reactions': 269.44158935546875, 'reaction': ..."
1,1,5913794,5913794,1,758.944513,chemical reactions,"{'reactions': 269.44158935546875, 'reaction': ..."
2,1,742206,742206,2,757.742353,chemical reactions,"{'reactions': 269.44158935546875, 'reaction': ..."
3,1,8572191,8572191,3,751.762260,chemical reactions,"{'reactions': 269.44158935546875, 'reaction': ..."
4,1,129901,129901,4,749.707581,chemical reactions,"{'reactions': 269.44158935546875, 'reaction': ..."
...,...,...,...,...,...,...,...
995,1,6342771,6342771,995,543.450242,chemical reactions,"{'reactions': 269.44158935546875, 'reaction': ..."
996,1,3355651,3355651,996,543.413003,chemical reactions,"{'reactions': 269.44158935546875, 'reaction': ..."
997,1,5094605,5094605,997,543.349945,chemical reactions,"{'reactions': 269.44158935546875, 'reaction': ..."
998,1,2226467,2226467,998,543.343830,chemical reactions,"{'reactions': 269.44158935546875, 'reaction': ..."
999,1,7866969,7866969,999,543.317541,chemical reactions,"{'reactions': 269.44158935546875, 'reaction': ..."

Finally, lets run the experiment and see the resulting performance.

In [7]:
from pyterrier.measures import *
pt.Experiment(
    [retr_pipe],
    pt.get_dataset('irds:msmarco-passage/trec-dl-2019/judged').get_topics(),
    pt.get_dataset('irds:msmarco-passage/trec-dl-2019/judged').get_qrels(),
    eval_metrics=[RR(rel=2), nDCG@10, nDCG@100, AP(rel=2)],
    names=['splade']
)

TerrierRetr(Tf): 100%|██████████| 43/43 [01:07<00:00,  1.57s/q]

     name  RR(rel=2)   nDCG@10  nDCG@100  AP(rel=2)
0  splade   0.918605  0.729712  0.671791    0.50429

## Exploring the Index

In [8]:
index = pt.java.cast("org.terrier.querying.LocalManager", retr.manager).index

Lets explore the lexicon - what tokens were used? (First 100)

In [9]:
for i, entry in enumerate(index.getLexicon()):
    if i == 100:
        break
    print(entry.getKey() + " " + entry.getValue().toString())

! term8767 Nt=35620 TF=1146138 maxTF=2147483647 @{0 0 0}
" term909 Nt=860880 TF=35393854 maxTF=2147483647 @{0 193938 6}
# term5228 Nt=69447 TF=3962047 maxTF=2147483647 @{0 5070117 6}
##0 term5242 Nt=68165 TF=4325474 maxTF=2147483647 @{0 5657689 4}
##00 term19503 Nt=14652 TF=971888 maxTF=2147483647 @{0 6283938 7}
##01 term12384 Nt=7847 TF=535341 maxTF=2147483647 @{0 6430337 3}
##0s term26590 Nt=389 TF=27046 maxTF=2147483647 @{0 6512277 3}
##1 term5497 Nt=105121 TF=5875946 maxTF=2147483647 @{0 6516783 2}
##10 term17386 Nt=21140 TF=1573665 maxTF=2147483647 @{0 7368646 7}
##100 term12385 Nt=13618 TF=806019 maxTF=2147483647 @{0 7599660 2}
##11 term9508 Nt=17101 TF=1082393 maxTF=2147483647 @{0 7723654 3}
##12 term8683 Nt=8393 TF=695082 maxTF=2147483647 @{0 7887210 5}
##13 term12421 Nt=13616 TF=714315 maxTF=2147483647 @{0 7989915 2}
##14 term17858 Nt=6103 TF=427235 maxTF=2147483647 @{0 8102904 7}
##15 term13479 Nt=14605 TF=926123 maxTF=2147483647 @{0 8168491 1}
##16 term8682 Nt=6139 TF=441595 maxTF=2147483647 @{0 8309519 5}
##17 term24327 Nt=2636 TF=230487 maxTF=2147483647 @{0 8376846 5}
##18 term16765 Nt=3899 TF=290747 maxTF=2147483647 @{0 8411696 4}
##19 term10533 Nt=4092 TF=245854 maxTF=2147483647 @{0 8456419 6}
##2 term8648 Nt=105405 TF=9244655 maxTF=2147483647 @{0 8496024 4}
##20 term18612 Nt=7489 TF=659393 maxTF=2147483647 @{0 9766749 4}
##200 term25236 Nt=2388 TF=231039 maxTF=2147483647 @{0 9863810 6}
##21 term23253 Nt=4138 TF=373183 maxTF=2147483647 @{0 9898291 7}
##22 term18179 Nt=8746 TF=661821 maxTF=2147483647 @{0 9953516 6}
##23 term17559 Nt=3047 TF=281560 maxTF=2147483647 @{0 10052645 7}
##24 term17724 Nt=3376 TF=278105 maxTF=2147483647 @{0 10094475 6}
##25 term21612 Nt=5195 TF=400257 maxTF=2147483647 @{0 10136575 3}
##26 term5510 Nt=9452 TF=451537 maxTF=2147483647 @{0 10196996 1}
##27 term21849 Nt=4385 TF=308564 maxTF=2147483647 @{0 10271178 6}
##28 term17723 Nt=3057 TF=203644 maxTF=2147483647 @{0 10318874 1}
##29 term18150 Nt=3254 TF=218930 maxTF=2147483647 @{0 10351066 0}
##3 term9090 Nt=100443 TF=6162406 maxTF=2147483647 @{0 10385492 4}
##30 term8700 Nt=10287 TF=676645 maxTF=2147483647 @{0 11262879 7}
##31 term8107 Nt=11102 TF=522073 maxTF=2147483647 @{0 11366143 5}
##32 term22738 Nt=6039 TF=704956 maxTF=2147483647 @{0 11451578 4}
##33 term12019 Nt=3189 TF=240815 maxTF=2147483647 @{0 11550979 3}
##34 term5509 Nt=4681 TF=349799 maxTF=2147483647 @{0 11588002 7}
##35 term15229 Nt=3597 TF=374157 maxTF=2147483647 @{0 11641339 7}
##36 term8752 Nt=2978 TF=301235 maxTF=2147483647 @{0 11695555 1}
##37 term8748 Nt=5195 TF=305722 maxTF=2147483647 @{0 11739746 4}
##38 term8736 Nt=10589 TF=566708 maxTF=2147483647 @{0 11788302 7}
##39 term21617 Nt=2366 TF=191109 maxTF=2147483647 @{0 11878110 2}
##3d term23449 Nt=824 TF=71289 maxTF=2147483647 @{0 11907285 3}
##4 term5220 Nt=73412 TF=5356102 maxTF=2147483647 @{0 11918282 2}
##40 term8696 Nt=6188 TF=513084 maxTF=2147483647 @{0 12676448 4}
##400 term23344 Nt=869 TF=103966 maxTF=2147483647 @{0 12752579 2}
##41 term8695 Nt=7573 TF=366839 maxTF=2147483647 @{0 12767777 3}
##42 term10284 Nt=2446 TF=223238 maxTF=2147483647 @{0 12828293 7}
##43 term17560 Nt=3712 TF=264580 maxTF=2147483647 @{0 12861751 3}
##44 term5554 Nt=18204 TF=710017 maxTF=2147483647 @{0 12902480 5}
##45 term14730 Nt=5030 TF=467079 maxTF=2147483647 @{0 13020075 6}
##46 term5493 Nt=3744 TF=273381 maxTF=2147483647 @{0 13088753 5}
##47 term5492 Nt=5004 TF=331699 maxTF=2147483647 @{0 13130898 2}
##48 term20854 Nt=1245 TF=110909 maxTF=2147483647 @{0 13182433 7}
##49 term5491 Nt=3089 TF=209450 maxTF=2147483647 @{0 13199345 5}
##4th term26677 Nt=98 TF=7839 maxTF=2147483647 @{0 13232227 0}
##5 term9688 Nt=59317 TF=3827195 maxTF=2147483647 @{0 13233555 1}
##50 term21092 Nt=4266 TF=387278 maxTF=2147483647 @{0 13789398 1}
##500 term23143 Nt=1114 TF=149132 maxTF=2147483647 @{0 13846451 1}
##51 term23512 Nt=2675 TF=236230 maxTF=2147483647 @{0 13867765 3}
##52 term24259 Nt=3477 TF=262632 maxTF=2147483647 @{0 13903210 0}
##53 term14969 Nt=2714 TF=246428 maxTF=2147483647 @{0 13943259 3}
##54 term18395 Nt=2610 TF=223220 maxTF=2147483647 @{0 13979895 3}
##55 term19087 Nt=3263 TF=244554 maxTF=2147483647 @{0 14013648 7}
##56 term19086 Nt=972 TF=82586 maxTF=2147483647 @{0 14051191 4}
##57 term19085 Nt=1950 TF=174913 maxTF=2147483647 @{0 14063950 2}
##58 term23813 Nt=1396 TF=111250 maxTF=2147483647 @{0 14090363 5}
##59 term12642 Nt=4046 TF=250890 maxTF=2147483647 @{0 14107650 7}
##6 term8738 Nt=61284 TF=4087261 maxTF=2147483647 @{0 14147606 1}
##60 term21093 Nt=6589 TF=498311 maxTF=2147483647 @{0 14738015 2}
##64 term14967 Nt=3579 TF=327918 maxTF=2147483647 @{0 14812830 0}
##65 term8770 Nt=1823 TF=186589 maxTF=2147483647 @{0 14861289 5}
##66 term20390 Nt=1647 TF=165527 maxTF=2147483647 @{0 14888865 7}
##6th term21814 Nt=166 TF=11344 maxTF=2147483647 @{0 14913286 7}
##7 term5892 Nt=47423 TF=3061766 maxTF=2147483647 @{0 14915233 3}
##70 term375 Nt=5422 TF=419074 maxTF=2147483647 @{0 15361988 0}
##75 term12404 Nt=2318 TF=219353 maxTF=2147483647 @{0 15425064 0}
##7th term22520 Nt=133 TF=12471 maxTF=2147483647 @{0 15457839 7}
##8 term5241 Nt=62666 TF=3415246 maxTF=2147483647 @{0 15459779 3}
##80 term19504 Nt=4460 TF=354197 maxTF=2147483647 @{0 15966939 5}
##85 term24749 Nt=1705 TF=183597 maxTF=2147483647 @{0 16020244 2}
##86 term20582 Nt=4161 TF=387450 maxTF=2147483647 @{0 16047107 2}
##8th term22519 Nt=209 TF=9788 maxTF=2147483647 @{0 16104018 7}
##9 term8769 Nt=37731 TF=2437626 maxTF=2147483647 @{0 16105893 4}
##90 term12383 Nt=7155 TF=505851 maxTF=2147483647 @{0 16464046 7}
##9th term27301 Nt=129 TF=10535 maxTF=2147483647 @{0 16541014 5}
##a term1821 Nt=346105 TF=22046692 maxTF=2147483647 @{0 16542754 7}
##a1 term25025 Nt=765 TF=67593 maxTF=2147483647 @{0 19555482 4}
##aa term13734 Nt=10360 TF=1261511 maxTF=2147483647 @{0 19565793 4}
##aan term19779 Nt=3116 TF=290401 maxTF=2147483647 @{0 19740723 5}
##aar term23540 Nt=435 TF=78231 maxTF=2147483647 @{0 19782740 6}
##ab term11711 Nt=31941 TF=2737720 maxTF=2147483647 @{0 19793592 2}
##aba term19539 Nt=2463 TF=400307 maxTF=2147483647 @{0 20179524 5}
##abad term26450 Nt=349 TF=47897 maxTF=2147483647 @{0 20234153 7}
##abas term27079 Nt=510 TF=117880 maxTF=2147483647 @{0 20240969 7}
##abe term21927 Nt=3437 TF=480491 maxTF=2147483647 @{0 20256883 3}
##abi term18987 Nt=9253 TF=883705 maxTF=2147483647 @{0 20323049 1}
##abia term28034 Nt=193 TF=35780 maxTF=2147483647 @{0 20448202 3}
##ability term12378 Nt=18884 TF=1335655 maxTF=2147483647 @{0 20453179 4}
##able term3684 Nt=180340 TF=12313273 maxTF=2147483647 @{0 20652456 3}

In [10]:
print(index.getCollectionStatistics().toString())

Number of documents: 8841823
Number of terms: 28679
Number of postings: 1037725680
Number of fields: 0
Number of tokens: 51855220573
Field names: []
Positions:   false

We can even look into particular document in the index.

In [11]:
di = index.getDirectIndex()
doi = index.getDocumentIndex()
lex = index.getLexicon()
docid = 7700000 #docids are 0-based
#NB: postings will be null if the document is empty
dictrep = {}
for posting in di.getPostings(doi.getDocumentEntry(docid)):
    termid = posting.getId()
    lee = lex.getLexiconEntry(termid)
    dictrep[lee.getKey()] = posting.getFrequency()

for k in sorted(dictrep.keys()):
    print(k, dictrep[k])

" 13
##uation 37
000 59
25 43
30 70
35 72
40 35
accountant 39
accounting 70
advice 11
amount 71
amounts 88
applicants 12
ask 108
asked 86
asking 33
asks 6
assessment 19
average 38
bargaining 48
bart 20
bottom 94
briggs 20
burke 10
business 13
businesses 28
calculate 62
calculated 2
candidacy 30
candidate 109
candidates 115
chart 26
companies 43
company 15
considered 36
corporate 10
dave 17
davis 5
desk 7
diversity 2
employee 95
employees 17
employment 40
engineer 20
example 107
examples 98
excel 14
executive 5
finance 43
fisher 8
flat 134
flex 50
flexibility 129
flexible 92
gage 6
give 98
given 17
giving 29
highest 1
hr 62
improvisation 9
include 57
included 28
income 15
interview 19
job 80
jobs 33
kelly 1
letter 9
low 76
management 4
marketing 14
matching 23
math 56
max 44
maximum 84
median 101
mid 102
middle 32
money 31
murray 21
negotiate 98
negotiating 49
negotiation 82
negotiations 59
normal 13
numbers 9
often 19
pay 139
payroll 7
point 59
points 50
post 50
posted 72
posting 95
practical 5
price 123
provide 54
provided 77
qualification 14
range 233
ranges 149
rather 52
recruit 36
required 70
requirements 125
respect 4
resume 37
salaries 22
salary 224
say 93
smith 43
statistics 1
sum 14
survey 35
thirty 24
thousand 11
wage 40
when 61